#apppage .gradient {
  background: #1261d8;
  background: linear-gradient(180deg, #174e97 0%, #6391f5 80%, #ffffff 100%);
}

#apppage .view {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}
