#classicformpage .view {
  background: #176897;
  background: linear-gradient(180deg, #176897 0%, #6391f5 80%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#classicformpage .card {
  background-color: #176897;
}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse {
  background: #176897 !important;
}

@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #176897 !important;
  }
}

#classicformpage label {
  color: #fff !important;
}
